body {
    font-family: 'Georgia', serif;
    background: linear-gradient(to right, #ff512f, #f09819);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #2e2b2b;
}

.container {
    max-width: 900px; /* Wider container */
    background-color: white;
    margin: 50px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: left; /* Left-aligned for readability */
    border: 2px solid black;
}

/* Header Styling */
h1 {
    font-family: 'Merriweather', serif;
    font-size: 2.5em;
    font-weight: bold;
    color: black; /* Deep cultural red */
    text-align: center;
    margin-bottom: 20px;
}

/* Description and Subsections */
h2  {
    font-family: 'Merriweather', serif;
    color: black;
    line-height: 1.6;
}

.container p {
    font-family: 'Georgia', serif;
    font-size: 1.2em;
    line-height: 1.8;
    color: black /* Darker shade for body text */
}

/* Explore More Section Styling */
.related-links h3 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Related Info Card Styling */
.related-info-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.related-card {
   
    color: black;
    padding: 12px;
    width: 130px; /* Smaller card */
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid black;
}

.related-card h4 {
    margin: 5px 0;
    font-size: 1.1em;
}

.related-card:hover {
    transform: scale(1.05);
    background-color: white; /* Darker orange on hover */
}

footer {
    color: white;
    padding: 25px;
    text-align: center;
}

.footer-content a {
    color: white; /* Orange color for links */
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin: 12px 0;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.social-media a {
    margin-right: 10px;
}

.social-icon {
    width: 28px;
    height: 28px;
    vertical-align: middle;
}
